<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Блог</title>
</head>

<body>
<a href="/orders" style="float:right;">
    <b>ЗАКАЗЫ</b>
</a>
<a href="/cart/items" style="float:right;">
    <b>КОРЗИНА</b>
</a>
<a href="/items" style="float:right;">
    <b>ГЛАВНАЯ</b>
</a>
<form method="POST" th:action="${item==null ? '../items/add' : '../'+item.getId() + '/edit'}" enctype="multipart/form-data">
    <table style="width:50%;margin-left:auto;margin-right:auto;">
        <tr>
            <td>
                <h3>Название</h3>
                <textarea rows="2" style="width: 100%;" name="title"
                          th:text="${item==null ? '' : item.getItemName()}"></textarea>
            </td>
        </tr>
        <tr>
            <td>
                <h3>Изображение</h3>
                <input type="file" name="image"></input>
            </td>
        </tr>
        <tr>
            <td>
                <h3>Цена</h3>
                <textarea rows="2" style="width: 100%;" name="tags"
                          th:text="${item==null ? '' : item.getPrice()}"></textarea>
            </td>
        </tr>
        <tr>
            <td>
                <h3>Описание</h3>
                <textarea rows="30" style="width: 100%;" name="text"
                          th:text="${item==null ? '' : item.getDescription()}"></textarea>
            </td>
        </tr>
        <tr>
            <td>
                <button style="float:right;" th:text="${item==null ? 'Сохранить' : 'Редактировать'}"></button>
            </td>
        </tr>
    </table>
</form>
</body>

</html>