<!DOCTYPE html>
<html lang="en">
<head>
    <title>Витрина товаров</title>
</head>
<body>

<p>An error occurred. Please go back to the main page.</p>
<table style="width:70%;margin-left:auto;margin-right:auto;">
    <tr>
        <td>
            <a href="/orders" style="float:right;">
                <b>ЗАКАЗЫ</b>
            </a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="/cart/items" style="float:right;">
                <b>КОРЗИНА</b>
            </a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="/items" style="float:right;">
                <b>ГЛАВНАЯ</b>
            </a>
        </td>
    </tr>
</table>
</body>
</html>