<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Заказы</title>
</head>

<body>
<table style="width:70%;margin-left:auto;margin-right:auto;">
    <tr>
        <td>
            <a href="/cart/items" style="float:right;">
                <b>КОРЗИНА</b>
            </a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="/items" style="float:right;">
                <b>ГЛАВНАЯ</b>
            </a>
        </td>
    </tr>
</table>
<table style="width:70%;margin-left:auto;margin-right:auto;">
    <tr th:each="order : ${orders}">
        <td>
            <h2>
                <a th:text="${'Заказ №'+order.getId()}" th:href="${'/orders/'+order.getId()+'?newOrder=false'}"></a>
            </h2>
            <table>
                <tr th:each="item : ${order.getItems()}">
                    <td th:text="${item.getItemName()+' ('+item.getCount()+' шт.) '+(item.getPrice()*item.getCount())+' руб.'}"></td>
                </tr>
            </table>
            <p>
                <b th:text="${'Сумма: ' + order.getTotalSum() + ' руб.'}"></b>
            </p>
        </td>
    </tr>
</table>
</body>

</html>