<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Cart</title>
</head>

<body>
<table style="width:70%;margin-left:auto;margin-right:auto;">
    <tr>
        <td>
            <a href="/orders" style="float:right;">
                <b>Orders</b>
            </a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="/items" style="float:right;">
                <b>Home</b>
            </a>
        </td>
    </tr>
</table>
<table style="width:70%;margin-left:auto;margin-right:auto;">
    <tr th:each="item : ${items}">
        <td>
            <table>
                <tr>
                    <td>
                        <img width="300" height="300" th:src="${'http://localhost:8080/images/'+item.getId()}"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <b th:text="${item.getItemName()}"></b>
                    </td>
                    <td>
                        <b th:text="${item.getPrice()}+' $'"></b>
                    </td>
                </tr>
                <tr>
                    <td th:text="${item.getDescription()}"></td>
                </tr>
                <tr>
                    <td>
                        <form th:action="${'/cart/items/'+item.getId()}" method="post" enctype="multipart/form-data">
                            <button name="action" value="minus">-</button>
                            <span th:text="${item.getCount()}"></span>
                            <button name="action" value="plus">+</button>
                            <button name="action" value="delete" style="float:right;">x</button>
                        </form>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td style="text-align:right">
            <b th:text="'Total: '+${total}+' $'"></b>
        </td>
    </tr>
    <tr>
        <td style="text-align:right">
            <h1 style="text-align:center" th:if="${!canOrder}">Payment Service is unavailable or not enough money.</h1>
            <form th:if="${canOrder && !items.isEmpty()}" action="/cart/buy" method="post">
                <button>Buy</button>
            </form>
        </td>
    </tr>
</table>
</body>

</html>