<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<div th:fragment="header">

    <table style="width:70%;margin-left:auto;margin-right:auto;">
        <tr>
            <td>
                <a sec:authorize="isAuthenticated()" href="/orders" style="float:right;">
                    <b>ORDERS</b>
                </a>
            </td>
        </tr>
        <tr>
            <td>
                <a sec:authorize="isAuthenticated()" href="/cart/items" style="float:right;">
                    <b>CART</b>
                </a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="/items" style="float:right;">
                    <b>HOME</b>
                </a>
            </td>
        </tr>
        <tr>
            <td>
                <a sec:authorize="isAuthenticated()" href="/logout" style="float:right;">
                    <b>LOGOUT</b>
                </a>
            </td>
        </tr>
        <tr>
            <td>
                <a sec:authorize="isAnonymous()" href="/login" style="float:right;">
                    <b>LOGIN</b>
                </a>
            </td>
        </tr>
    </table>
</div>
</html>