<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Orders</title>
</head>

<body>
<header th:insert="header.html :: header"> </header>
<table style="width:70%;margin-left:auto;margin-right:auto;">
    <tr th:each="order : ${orders}">
        <td>
            <h2>
                <a th:text="${'Order #'+order.getId()}" th:href="${'/orders/'+order.getId()+'?newOrder=false'}"></a>
            </h2>
            <table>
                <tr th:each="item : ${order.getItems()}">
                    <td th:text="${item.getItemName()+' ( x '+item.getCount()+' ) '+(item.getPrice()*item.getCount())+' $'}"></td>
                </tr>
            </table>
            <p>
                <b th:text="${'Total: ' + order.getTotalSum() + ' $'}"></b>
            </p>
        </td>
    </tr>
</table>
</body>

</html>